.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
  width: 100vw;
  color: #ffffff; /* Ensure the text is visible */
  position: relative; /* New addition for positioning context */
  overflow: hidden; /* Ensures the video doesn't exceed the container size */
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  z-index: -1; /* Keeps the video behind the content */
}

.countdown {
  padding-bottom: 100px;
}

.title {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 768px) {
  #background-video {
    width: auto;
    height: 100vh;
  }
  .title {
    font-size: 1.5rem;
  }
}
